@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");

$font-head: "Montserrat", Arial, Helvetica, sans-serif;
$font-body: "Open Sans", Arial, Helvetica, sans-serif;

$primary-color: #076aff;
$secondary-color: #333333;
