//Importing Style Guides, to modify go-to _style-guides.scss
@import "./style-guides";

//Base CSS starts here
h1 {
  font: 200% $font-head;
  color: $secondary-color;
}

p {
  font: 100% $font-body;
  color: $secondary-color;
}
